@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:ital,wght@1,300&family=Roboto&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*Afectando etiqueta*/


/*
font-family: 'Benne', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: font-family: 'Roboto', sans-serif; 
}

h2 
h3 
h4 {
    font-family: ont-family: 'Montserrat', sans-serif;
}

p,
a,
table {
    font-family: font-family: 'Benne', serif;;
}


header {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

nav{
    width: auto;
    color: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: 0.5;
    }

nav a:hover {
    background-color: darkcyan;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin-top: 20px;
    width: 80%;
    height: auto;
    background-color: #333;
    color: rgb(255,255,255);
    padding: 25px;
    border-radius: 10px;
}


/*Afectando Clase*/


/*Afectado ID*/

#wellcome {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-image: url(../img/591b56ab0a802.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}

#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profilepic {
    width: 400px;
    height: 400px;
    background-color: black;
    background-image: url(../img/images.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.9);
}


#social {
    margin: 15px;
}

#social li {
    display: inline-block;
}

#social li a {
    font-size: x-large;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

#social li a.facebook :hover {
    color: dodgerblue;
    transition: 0.5s;
}

#social li a.instagram :hover {
    color: hotpink;
    transition: 0.5s;
}

#social li a.twitter :hover {
    color: aqua;
    transition: 0.5s;
} 

/* small*/
@media (max-width: 640px) {
    section {
        background-color: rgb(110, 90, 156);
    }
    #wellcome {
        width: 100%;
        margin: 0;
        border-radius: 0;
        background-image: url(../img/mar.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position: center;
    }
    header {
        height: center;
        background-color: rgb(57, 60, 238);
        color: white;
        }
    nav {
     right: 0;
    }    

}

/* Medium*/
@media (min-width: 641px) and (max-width: 1007px) {
    section {
        background-color: rgb(2, 48, 48);
    }
    #wellcome {
        width: 100%;
        margin: 0;
        border-radius: 0;
        background-image: url(../img/591b56ab0a802.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position: center;
    }
}

/*Large*/
@media (min-width: 1008px) {
         section {
             background-color: rgb(49, 46, 46);
         }
         #wellcome {
            width: 100%;
            margin: 0;
            border-radius: 0;
            background-image: url(../img/fin-del-universo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
        }
}